
.productRow td,
.productRow input {
    text-align: center;
}

.dataId {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: start;

}

.editProduct {
    height: 13px;
    cursor: pointer;
}

.confirmDenyButtons {
    height: 15px;
    border-radius: 100%;
    float: left;
    border: 1px solid white;
    transition: .2s linear;
}

.confirmDenyButtons:hover {
    border: 1px solid black;
    cursor: pointer;
}
