.appWrapper {
  width: 100%;
  min-width: 440px;
}

header {
  background-color: rgb(230, 230, 230);
  display: flex;
  justify-content: center;
  align-items: center;
}
#headerLogo {
  height: 10vh;
}
