.addNewProductWrapper {
    padding-top: 2em;
    background-color: rgb(230, 230, 230);
    width: 100%;
    min-height: 100vh;
}

#newProductForm {
    background-color: rgb(220, 220, 220);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 0 auto;
    padding: 2em 0;
}

#newProductForm label {
    font-weight: 600;
}

#newProductForm input,
#newProductForm select{
    margin-bottom: 1em;
    text-align: center;
}

#newTypeDiv {
    text-align: center;
}

#quantity,
#price {
    width: 100px;
}

#notes {
    text-align: center;
}

#newProductSubmit {
    margin-top: 1.5em;
}

#successMessage,
#addErrorMessage {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    padding: 1em 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#successMessage {
    background-color: rgba(0, 83, 7, 0.4);
}

#addErrorMessage {
    background-color: rgba(199, 7, 0, 0.4);
}

@media screen and (max-width: 1000px) {
    #newProductForm {
        width: 100%;
    }
}