.addNewProductWrapper {
    padding-top: 2em;
    width: 100%;
    min-height: 100%;
}

#newProductForm {
    background-color: rgb(220, 220, 220);
    box-shadow: 3px 3px 6px #333333;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 0 auto;
    padding: 2em 0;
}

#newProductForm label {
    font-weight: 600;
}

#newProductForm input,
#newProductForm select{
    margin-bottom: 1em;
    text-align: center;
}

#newTypeDiv {
    text-align: center;
}

#quantity,
#price {
    width: 100px;
}

#notes {
    text-align: center;
}

#newProductSubmit {
    margin-top: 1.5em;
}

.successMessage,
.errorMessage {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    padding: 1em 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.successMessage {
    background-color: rgba(0, 83, 7, 0.4);
}

.errorMessage {
    background-color: rgba(199, 7, 0, 0.4);
}

@media screen and (max-width: 1000px) {
    #newProductForm {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .successMessage,
    .errorMessage {
        width: 80%;
    }
}

@media screen and (max-width: 500px) {
    .successMessage,
    .errorMessage {
        width: 100%;
    }
}